body{
    background-color: wheat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Main{
    border: 1px solid black;
    width: 500px;
    height: 400px;
    margin: auto;
    padding: 10px;
    border-radius: 12px;
    background-color: whitesmoke;
}
.Top, .Bottom{
    border:1px solid black;
    width: 400px;
    height: 100px;
    margin: auto;
    background-color: white;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.3);
}
.Top{
    margin: 60px 50px 25px 50px;
    border-radius: 12px;
}
.Bottom{
    margin: 60px 50px 25px 50px;
    border-radius: 12px;
    text-align: center;
    font-size:26px ;
    
}
#Input_temperature{
    width: 300px;
    height: 45px;
    margin: 20px 5px 20px 10px;
    font-size: 24px;
    padding-left: 15px;
    border-radius: 7px 0 0 7px;
    border: 1px solid black;
}
#temSymbol{
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 24px;
    margin: 20px 0 20px 0;
    border-radius: 0 7px 7px 0 ;
    border: 1px solid black;
}
#click{
    width: 120px;
    height: 50px;
    border: 1px solid black;
    margin: -5px 80% 30px 20px;
    border-radius:7px 0 0 7px;
}
