body{
    background-color: rgb(245, 235, 217);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Main{
    /* border: 1px solid black; */
    box-shadow:5px 10px 12px rgba(0, 0, 0, 0.4) ;
    width: 800px;
    height: 600px;
    /* display: grid;
    justify-content: center;
    align-items: center; */
    margin: auto; 
    margin-top: 5%;
    padding: 10px;
    border-radius: 12px;
    background-color: rgb(251, 248, 248);
    /* position: fixed;
    top: 50%;
    right: 50%;
    translate:(-50,-50);
    */
    background-image: url("Image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.Top, .Bottom{
    /* border:1px solid black; */
    width: 500px;
    height: 230px;
    margin: auto;
    background-color: transparent;
    box-shadow: 5px 7px 12px rgba(0, 0, 0, 0.4);
   
}
.Top{
    margin: 40px 50px 10px 50px;
    border-radius: 12px;
    background-image: url("IMG_3277.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 230px;

}
.Bottom{
    margin: 40px 50px 10px 50px;
    border-radius: 12px;
    text-align: center;
    font-size:26px ;
    background-image: url("IMG_3285.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 230px;
    
}
#Input_temperature{
    width: 300px;
    height: 45px;
    margin: 20px 5px 20px 10px;
    font-size: 24px;
    padding-left: 15px;
    border-radius: 7px 0 0 7px;
    border: transparent
}
#temSymbol{
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 24px;
    margin: 20px 0 20px 0;
    border-radius: 0 7px 7px 0 ;
    border: transparent;
}
#BTN_Calculate{
    width: 120px;
    height: 50px;
    border: 1px solid black;
    margin: 20px 80% 30px 20px;
    border-radius:7px 0 0 7px;
    text-align: center;
    font-size: 20px;
}

