body{
    background-color: rgb(245, 235, 217);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Main{
    /* border: 1px solid black; */
    box-shadow:5px 10px 12px rgba(0, 0, 0, 0.4) ;
    width: 90%;
    height: 600px;
    /* display: grid;
    justify-content: center;
    align-items: center; */
    margin: auto; 
    margin-top: 5%;
    padding: 10px;
    border-radius: 12px;
    background-color: rgb(251, 248, 248);
    /* position: fixed;
    top: 50%;
    right: 50%;
    translate:(-50,-50);
    */
    background-image: url("Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.Top, .Bottom{
    /* border:1px solid black; */
    width: 500px;
    height: 230px;
    margin: auto;
    background-color: transparent;
    box-shadow: 5px 7px 12px rgba(0, 0, 0, 0.4);
   
}
.Top{
    margin: 40px 50px 10px 50px;
    border-radius: 12px;
    background-image: url("IMG_3277.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 230px;

}
.Bottom{
    margin: 40px 50px 10px 50px;
    border-radius: 12px;
    text-align: center;
    font-size:26px ;
    background-image: url("IMG_3285.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 230px;
    padding-left:5px;
    
    
}
#Input_temperature{
    width: 310px;
    height: 35px;
    margin: 10px 0 10px 10px;
    font-size: 18px;
    padding-left: 15px;
    border-radius: 7px 0 0 7px;
    border: transparent;
    background-color: rgba(255, 255, 255, 0.2);
     transition:ease 0.3s ;
}
#temSymbol{
    width: 50px;
    height: 36.5px;
    text-align: center;
    font-size: 18px;
    margin: 10px 0 10px -3px;
    /* border-radius: 0 7px 7px 0 ; */
    border: transparent;
    background-color: rgba(255, 255, 255, 0.2);
    transition:ease 0.3s ;
}
#BTN_Calculate{
    width: 100px;
    height: 37px;
    border: transparent;
    margin: 10px 0 10px -3px;
    border-radius:0 7px 7px 0;
    text-align: center;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.2);
    transition:ease 0.3s ;
}
#Tem_display{
    /* border: 1px solid black; */
    width: 120px;
    height: 70px;
    position: absolute;
    left: 80px;
    bottom: 90px;
    color: white;
    font-size: 30px;
}
#Name{
    /* border: 1px solid black; */
    width: 120px;
    height: 70px;
    position: absolute;
    right: 130px;
    bottom: 60px; 
    text-align: center;
    color: White;
    font-size: 25px;
}
#Weather_situation{
    /* border: 1px solid white; */
    width: 120px;
    height: 70px;
    position: absolute;
    top:340px;
    left: 62%;
    font-size: 24px;
    color: white;
}
#BTN_Calculate:hover{
    width: 98px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.5);
    /* position: absolute;
    transform: translate(-50,-50); */

}
#temSymbol:hover{
    width: 48px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.5);
}
#Input_temperature:hover{
    background-color: rgba(255, 255, 255, 0.5);

}