

/* Variable Declaration */
:root{
    --primary:#FFF5F2;
    --secondary:#f0e8c7;
    --accent:#F3E2D4;
    --dark:#010313;
    --light:#E9E3DF;
    --gray:#a9afc2;
    --lightgray:rgb(229, 229, 229);
    --buttoncolor:rgba(47, 47, 199, 0.772);
    --transition:all 0.3s ease;
    --shadow:0 10px 30px rgba(0,0,0,0.1);
    --radius:10px;
    --grid-gap:2rem;
}
/* Universal Selector*/    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body Section */

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6rem;
    color: var(--dark);
    background-color: var(--primay);
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: var(--primary);
}
img{
    max-width: 100%; /* why used the max-width instead of width:100%?*/
    display: block;
}
.container{
    width: 90%;
    max-width: 1200px;  /* Why using 1200px along width:90%?*/
    margin: 0 auto ;
    padding: 0 20px;
}
.section-title{
    font-size: 2.5rem;
    margin-bottom: 3rem;
    text-align: center;
    position: relative;
}
.section-title::after{
    content: '';
    position: absolute;
    bottom: -25px;  /* why adding bottom:-10px ?*/
    left: 50%;
    transform: translate(-50%);
    width: 80px;
    height: 5px;
    background: var(--dark);
    border-radius: 2px;
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary);
    border: 1px solid black;
    color: var(--dark);
    border-radius: var(--radius);
    font-weight: 600;
    transition: var(--transition);
    border: none;
    cursor: pointer;
}
.btn:hover{
    color: #fff;
    transform: translate(-3px);
    box-shadow: var(--shadow);
}

header{
    background-color: white;
    box-shadow: var(--shadow);
    position:fixed;
    width: 100%;
    z-index: 100;
}
.nav-container{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 1rem 0;
}
.logo{
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--dark);
}
.nav-menu{
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: end;
    gap: 2rem;
    list-style: none;

}
.nav-link{
    font-weight: 600;
    transition: var(--transition);
    transform: scale(1.5rem) translateY(-5px);
}

/* Hero Section */

.hero{
    padding: 8rem 0 5rem;
    background-color: linear-gradient(135deg, #f0f4ff 0%, #e6e6ff 100%);
}

.hero-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-content: center;
}
.hero-grid h1{
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    line-height: 1.2;  /* what is only 1.2? */
}
.hero-grid p{
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: var(--dark);
}
.hero-image{
    position: relative;
    
}
.hero-image::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--accent);
    border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%;
    z-index: 1;
    opacity: 0.3;
    transform: scale(1.2);
}

/* About Section */

.about{
    padding: 0;
}
.about-grid{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;

}
.skill-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    margin-top: 2rem;
}
.skill-item{
    background: var(--light);
    padding: 1.5rem;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    transition: var(--transition);
}
.skill-item:hover{
    transform: translateY(-10px) scale(1.1);
}
.skill-icon{
    font-size:2rem;
    color: rgb(62, 62, 244);
    margin-bottom: 1rem;
}
.skill-item{
    margin-top: 2rem;
}

/* Portfolio Section */

.portfolio{
    padding: 6rem 0;
    background: linear-gradient(90deg, #33a1e9 50%, #1c6aa8 40%);
    color: #fff;
}
.portfolio-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: var(--grid-gap);
}
.portfolio-item{
    background: linear-gradient(60deg, #159033 10%, #1cccaa 100%);
    border-radius: var(--radius);
    padding: 1.5rem;
    overflow: hidden;
    box-shadow: var(--shadow);
    transition: var(--transition);
    display: grid;
    grid-template-rows: auto 1fr;
}
.portfolio-item:hover{
    transform: translateX(-10px) scale(1.1);
}
.portfolio-img{
    height: 200px;
    background: var(--light);
    display: grid;
    place-content: center;
    font-size: 2.5rem;
}
.portfolio-content{
    padding: 1.5rem;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 1rem;
}

/* Contact Section */

.contact {
    padding: 6rem 0;
    background: linear-gradient(230deg, #435879 40%, #154e7198 100%);
}
.contact-grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    color: var(--light);
}
.contact-info{
    font-size: 1.5rem;
    color: var(--light);
}
.contact .section-title{
    color: var(--light);
}
.contact-form{
    display: grid;
    gap: 1.5rem;
    resize: vertical;
    width: 100%;
    max-width: 1200px;
}
.form-group{
    display: grid;
    gap: 0.5rem;
}
.form-input{
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: var(--radius);
    resize: vertical;
    
}
textarea .form-input{
    min-height: 150px;
    
}

/* Footer Section */

.footer{
    background: linear-gradient(200deg, #34496a 20%, #154e71a5 100%);
    line-height: 2.2rem;
    height: 300px;
}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--grid-gap);

}
.footer-title{
    display: grid;
    justify-content: center;
    color: #fff;
    position: relative;
    margin-top: 1.5rem;
}
.footer-title::after{
    content: '';
    width: 50px;
    height: 3px;
    background-color:var(--gray);
    position: absolute;
    bottom: 190px;
    transform: translate(-50%);
    left: 42%;
}
li{
    list-style: none;
}
.footer-title h4{
    font-size: 1.4rem;
    font-weight: 200;
    padding:0.5rem 0 1.2rem
}
.footer-title a{
    font-size: 1.1rem;
    color: rgb(234, 233, 233);
    line-height: 2rem;
    /* transition: var(--transition); */
    font-weight: 100;
}
.footer-title a:hover{
    color: #FFF;
    transform: translateX(10px);
}
/* Responsive Desgin Basic */

@media(max-width:600px){
    .nav-menu{
        display: none;
    }
    .section-title{
        font-size: 2rem;
    }
    .hero-content h1{
        font-size: 2rem;
    }
    .skill-grid{
        grid-template-columns: 1fr;
    }
    .contact-grid{
        grid-template-columns: 1fr;
    }
    .skill-icon{
        font-size: 1.5rem;
    }
    .skill-icon h4{
        font-size: 0.5rem;
    }
}

/* Footer Responsice Basic*/
@media(max-width:700px){
    .footer-grid{
        grid-template-columns: 1fr 1fr;
    }
    .footer{
        height: 600px;
    }
    .footer-title::after{
        bottom: 190px;              /* problem on adjustifying the line on multi screen*/
    }
    .footer-title h4{
        font-size: 1.2rem;
    }
     .footer-title a{
        font-size: 0.95rem;
     }
}